/* Root sections */
:root {
  /* Colors based on the original palette */
  --background-1: #ff3f3f;
  --background-2: #818181;
  --background-3: #d44040;
  --background-4: #000000;
  --background-5: #3C3C3B;
  
  --headers: ;
  --text: #000000;
  --text-inverted: #ff1919;
  --text-header: ;
  --text-subheader: ;
  --links-normal: #ffe8e8;
  --links-highlight: #b90000;
  
  --topbar-bg: #FFFFFF;
  --topbar-border-bottom: #FF5757;
  --topbar-text-normal: #000000;
  --topbar-text-hover: #FFFF50;
  --topbar-text-highlight: #3C3C3B;

  --icon-photo-hover: #3c3c3b;

  --footer-bg: ;
}

* {
  margin: 0px;
  padding: 0px;
}

html {
  font-family: "Noto Sans Mono","sans-serif";
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

/* Navbar */
#navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 50px;
  width: 100%;
  background-color: var(--topbar-bg);
  overflow: hidden;
  border-bottom: 5px solid var(--topbar-border-bottom);
}

#navbar a:not(:first-of-type) {
  height: 100%;
  float: left;
  display: block;
  color: var(--topbar-text-normal);
  text-align: center;
  padding: 6px 20px;
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
}

#navbar a:hover {
  color: var(--topbar-text-hover);
  background-color: var(--topbar-text-highlight);
  font-weight: 600;
}

.icon-photo {
  float: left;
  display: block;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin: 2.5px 20px;
}

.icon-photo:hover {
  outline: 4px solid var(--icon-photo-hover);
  
}

/* Page text */
.text-inverted {
  color: var(--text-inverted);
}

a.text-inverted {
  color: var(--text);
}

/* Body */
body {
  margin: 0;
  padding-top: 50px;
}

/* Body content sections */
section {
  overflow: hidden;
  padding-top: 1em;
  padding-bottom: 1em;
}

.section-header {
  color: var(--text-header);
  margin: 10px auto;
  text-align: center;
  font-size: 2.5em;
}

.section-subheader {
  color: var(--text-subheader);
  font-weight: normal;
  margin: 5px auto;
  text-align: center;
  font-style: italic;
  font-size: 1.65em;
}

.section-content-header {
  font-size: 20px;
  text-align: center;
  font-weight: 600;
}

.section-list {
  width: 50%;
  margin: 0 auto;
}

.section-list-content {
  font-size: 1.25em;
  color: var(--text);
}

.section-list-content.text-inverted {
  color: var(--text-inverted)
}

.section-content {
  font-size: 1.25em;
  text-indent: 1.5em;
  color: var(--text);
  width: 60%;
  margin: 0 auto;
  padding-bottom: 5px;
  padding-top: 1em;
}

.section-content.text-inverted {
  color: var(--text-inverted);
}

.section-content a {
  text-decoration: none;
  color: var(--links-normal);
}

.section-content a:hover {
  color: var(--links-highlight);
}

.section-code-block {
  display: block;
  margin: 0 auto;
  font-size: 1.25em;
  width: 57%;
  padding: 1.5%;
  overflow: auto;
  background-color: var(--background-5);
}

pre {
  white-space: pre-line;
}

.section-code-block.text-inverted {

}

/* Centered text in body content sections */
.center-header {
  padding-top: calc((80vh - 50px) / 2);
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

/* Main page sections */
.welcome {
  background-color: var(--background-1);
  height: 100vh;
  text-align: center;
}

.projects {
  background-color: var(--background-2);
  
}

.about-me {
  background-color: var(--background-3);
  color: var(--text);
}

.contact {
  background-color: var(--background-4);
  color: var(--text-inverted);
}

/* Project page sections */
.project-images {
  background-color: black;
  height: 50vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-page-img {
  height: 90%;
}

.project-desc {
  background-color: var(--background-1);
}

/* Project grid */
.projects-grid {
  display: grid;
  margin: 30px auto;
  grid-template-columns: 1fr 1fr;
  width: 70%;
  grid-gap: 12rem;
}

.projects-grid a {
  background: var(--background-5);
  text-decoration: none;
  color: var(--links-normal);
}

.project-tile {
  font-size: 2em;
  text-align: center;
  color: var(--links-normal);
}

.project-tile:hover {
  color: var(--links-highlight);
}

.project-tile img {
  width: calc(100% - 10px);
  height: 90%;
  outline: 5px solid black;
}

.project-tile:hover img {
  outline: 5px solid var(--links-highlight)
}

/* Devlogs */
.devlogs {
  background-color: var(--background-4);
  color: var(--text-inverted);
}

.devlog-header {
  width: 25%;   
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.devlog-button {
  color: var(--links-highlight);
  font-size: 3em;
  font-weight: 600;
  text-decoration: none;
  padding: none;
  border: none;
  background: none;
}

.devlog-button:hover {
  color: var(--links-normal)
}

.devlog {
  color: var(--text-inverted);
}

/* Footer */
footer {
  color: var(--text);
  background-color: var(--footer-bg);
  text-align: center;
  overflow: hidden;
}

footer a {
  color: var(--links-normal);
  text-decoration: none;
  color: var(--color-1);
}

footer a:hover {
  color: var(--links-highlight);
  text-decoration: underline;
  font-weight: 600;
}

/* Contact links in footer */
.contact-list {
  font-size: 2em;
  text-align: center;
  display: block;
  margin: 1em;
}

.contact-link {
  color: var(--links-normal);
  text-decoration: none;
}

.contact-link:hover {
  color: var(--links-highlight);
}

.contact-icon {
  
}

.contact-text {
  display: inline;
}

/* Media queries */
@media {
  
}
