:root {
  /* Colors based on the original palette */
  --background-1: #F03A47;
  --background-2: #FFFCF2;
  --background-3: #44CF6C;
  --background-4: #4357AD;
  --background-5: #3C3C3B;
  
  --headers: ;
  --text: #44cf44;
  --text-inverted: #3C3C3B;
  --text-header: ;
  --text-subheader: ;
  --links-normal: #44cf44;
  --links-highlight: #FFFCF2;
  
  --topbar-bg: #FFFCF2;
  --topbar-border-bottom: #44cf44;
  --topbar-text-normal: #44CF6C;
  --topbar-text-hover: #FFFCF2;
  --topbar-text-highlight: #3C3C3B;

  --icon-photo-hover: #3c3c3b;

  --footer-bg: ;
}

html {
  font-family: "Noto Sans Mono","sans-serif";
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

#navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 50px;
  width: 100%;
  background-color: var(--topbar-bg);
  overflow: hidden;
  border-bottom: 5px solid var(--topbar-border-bottom);
}

#navbar a:not(:first-of-type) {
  height: 100%;
  float: left;
  display: block;
  color: var(--topbar-text-normal);
  text-align: center;
  padding: 6px 20px;
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
}

#navbar a:hover {
  color: var(--topbar-text-hover);
  background-color: var(--topbar-text-highlight);
  font-weight: 600;
}

.icon-photo {
  float: left;
  display: block;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin: 2.5px 20px;
}

.icon-photo:hover {
  outline: 4px solid var(--icon-photo-hover);
  
}

body {
  margin: 0;
  padding-top: 50px;
}

footer {
  color: var(--text);
  background-color: var(--footer-bg);
  text-align: center;
  overflow: hidden;
}

footer a {
  color: var(--links-normal);
  text-decoration: none;
  color: var(--color-1);
}

footer a:hover {
  color: var(--links-highlight);
  text-decoration: underline;
  font-weight: 600;
}

section {
  overflow: hidden;
}

.center-header {
  padding-top: calc((80vh - 50px) / 2);
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

/* Sections */
.welcome {
  background-color: var(--background-1);
  height: 100vh;
  text-align: center;
}

.projects {
  background-color: var(--background-2);
  
}

.about-me {
  background-color: var(--background-3);
  color: var(--text-inverted);
}

.contact {
  background-color: var(--background-4);
}

.section-header {
  color: var(--text-header);
  margin: 10px auto;
  text-align: center;
  font-size: 50px;
}

.section-subheader {
  color: var(--text-subheader);
  font-weight: normal;
  margin: 5px auto;
  text-align: center;
  font-style: italic;
  font-size: 25px;
}

.section-content-header {
  font-size: 20px;
  text-align: center;
  font-weight: 600;
}

.section-list {
  width: 60%;
  margin: 0 auto;
}

.section-list-content {
  font-size: 16.5px;
  color: var(--text);
}

.section-content {
  font-size: 16.5px;
  text-indent: 2em;
  color: var(--text);
  width: 80%;
  margin: 0 auto;
  padding-bottom: 5px;
}

.section-content a {
  text-decoration: none;
  color: var(--links-normal);
}

.section-content a:hover {
  color: var(--links-highlight);
}

.text-inverted {
  color: var(--text-inverted);
}

a.text-inverted {
  color: var(--text-inverted);
}

.projects-grid {
  display: grid;
  margin: 30px auto;
  grid-template-columns: 1fr 1fr;
  width: 70%;
  grid-gap: 12rem;
}

.projects-grid a {
  background: var(--background-5);
  text-decoration: none;
  color: var(--links-normal);
}

.project-tile:hover {
  color: var(--links-highlight);
}

.project-name {
  text-align: center;
  color: var(--links-normal);
}

.project-name:hover {
  color: var(--links-highlight);
}

.project-image {
  width: 100%;
}

@media {
  
}
